
<mat-card>
    <div class="form-title">
        <i class="fa fa-key"></i>Change Password
        <mat-error *ngIf="status" >{{status}}</mat-error>
    </div>
    <form class="form-change-password" novalidate [formGroup]="form">
        <div>
            <mat-label>Old Password</mat-label>
            <input matInput placeholder="Enter the old password" [(ngModel)]="data.oldPassword" formControlName="oldPassword">
            <mat-error *ngIf="form.get('password')?.hasError('required')">The old password is required</mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('minlength')">The old password more than 3 characters</mat-error>
            <br>
        </div>

        <!--newPassword-->
        <div>
            <mat-label>New Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.newPassword"  placeholder="Enter the new password" formControlName="newPassword">
            <mat-error *ngIf="form.get('password')?.hasError('required')">The password is required</mat-error>
            <mat-error *ngIf="form.get('password')?.hasError('minlength')">The password more than 3 characters</mat-error>
            <br>
        </div>

        <!--                                Confirmpassword-->
        <div>
            <mat-label>Enter Confirm Password</mat-label>
            <input placeholder="enter confirm new password" name="confirmPassword" formControlName="confirmPassword" matInput [type]="hide ? 'password' : 'text'" [errorStateMatcher]="matcher">
            <mat-error *ngIf="form.hasError('notSame')">
                The Confirm Password does not match the New Password</mat-error>
            <br>
        </div>

    </form>
<!--    old-Password-->

</mat-card>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
