<div class="wavy-wraper">
  <div class="wavy">
    <span style="--i:1;">i</span>
    <span style="--i:2;">S</span>
    <span style="--i:3;">h</span>
    <span style="--i:4;">a</span>
    <span style="--i:5;">r</span>
    <span style="--i:6;">e</span>
    <span style="--i:6;">L</span>
    <span style="--i:6;">i</span>
    <span style="--i:6;">f</span>
    <span style="--i:6;">e</span>
    <span style="--i:7;">.</span>
    <span style="--i:8;">.</span>
    <span style="--i:9;">.</span>
  </div>
</div>
<!--<app-nav-bar2></app-nav-bar2>-->
<!--<app-navbar></app-navbar>-->
<router-outlet></router-outlet>
<!--<app-new></app-new>-->
<!--<app-demo></app-demo>-->
<!--<app-register></app-register>-->
<!--<app-posting></app-posting>-->


